.header {
  background-color: #2E3833; 
  width: 20vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.header a {
  margin: 10px;
  border-radius: 10px ;
  color: #F9F8F8;
  text-decoration: none;
  padding: 10px;
  font-size: 1.5em;
}

.header a:hover {
  background-color: #252d29;
  transition: 0.2s ease-in-out;
}

.active {
  background-color: #9A8873;
}

.postheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.posts {
  margin-left: 20vw;
  background-color: #211F1C;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}

.post {
  width: 50%;
  background-color: #766756;
  color: #F9F8F8;
  padding: 20px;
  border-radius: 20px;
}

.headerimagewrapper {
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.headerimage {
  height: 100%;
}

.postimage {

}
